<!--
  Generated template for the EmployeesalaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
    <ion-title [ngStyle]="getHeaderStyle()">
      <h4 class="header-title"> {{keywords.salary}}</h4>
    </ion-title>
    <div *ngIf="roleId == '1'" (click)="addSalary()" class="notification-div">
      <span ion-text class="notificationIcon">{{keywords.pay_run}}</span>
    </div>
  </ion-navbar>
</ion-header>


<ion-content class="background-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list class="noti-list" *ngFor="let payslipList of payslipLists">
    <ion-item-sliding #item>
      <ion-item class="notification-item">
        <ion-avatar item-start>
          <img src="assets/imgs/user.jpg">
        </ion-avatar>
        <h2 class="payroll-name"> {{payslipList.fullname}}</h2>
        <p class="payroll-designation">{{payslipList.designation}}</p>
        <p class="payroll-empid">{{payslipList.user_id}}</p>
        <div class="holiday-day">
          <h2 class="payroll-salary">{{payslipList.salary}}</h2>
          <h2 class="leave-status" style="margin-top:0px !important;" (click)="generatePayslip(payslipList)">View
            Payslip</h2>
        </div>
      </ion-item>
      <ion-item-options *ngIf="roleId == '1'" side="right">
        <button ion-button color="secondary" (click)="editSalary(payslipList)">{{keywords.edit}}</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!page">
    <ion-infinite-scroll-content position="bottom" loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div *ngIf="noData" class="dashboard-area">
    <h3 class="nolist">No list found</h3>
  </div>
  <ion-fab class="employee-fab" (click)="openModal()">
    <button [ngStyle]="getHeaderStyle()" class="employee-fabButton" ion-fab>
      <i class="fa fa-filter"></i>
    </button>
  </ion-fab>
</ion-content>