page-designations {

}
.dept-widget1{
    background: #fff;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 16px;
    height: 50px;
    text-align: center;
}
.designation-dept{
    text-align: left;
    color: #777;
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;
}   