page-attendance-list {
    .background-content{
        background: #fff !important;
    }

}
.item-divide{
    padding: 0 15px !important;
    background: #f7f7f7 !important;
    color: #000 !important;
    font-weight: 600 !important;
    line-height: 22px !important;
    height: 22px !important;
}
.item-divideList{
    margin-right: 16px !important;
    padding: 15px 0px;
    margin-bottom: 0px !important;
    border-bottom: 1px solid #e7e7e7;
}
.divide-list-label{
   margin: 0px !important;
}