page-add-leave-request {
.attendance-col{
   background-color: white;
    margin: 10px;
    text-align: center;
    color: #727272;
    font-weight: 600;
    font-size: 14px;
    padding-top:15px;
  }
  .attendance-col-value{
    color: black;
    font-weight: 500;
    font-size: 18px;
  }
}
