<!--
  Generated template for the AttendanceListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
    <ion-title [ngStyle]="getHeaderStyle()">
      <h4 class="header-title">{{keywords.attendance_info}}</h4>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background-content">
  <div *ngIf="isData">
    <ion-list class="noti-list">
      <ion-item>
        <div>
          <h4 class="holiday-title">{{keywords.attendance}}</h4>
        </div>
        <div class="holiday-card">
          <h4 class="holiday-date1">{{user.fullname}}</h4>
        </div>
      </ion-item>
    </ion-list>
    <h4 class="holiday-title" style="margin:10px !important">{{keywords.statistics}}</h4>
    <ion-list class="noti-list">
      <ion-item>
        <div>
          <h4 class="holiday-title">{{keywords.today}}</h4>
          <span class="holiday-days-div">
            <h2 class="holiday-title">{{attendanceList.today_production_hour}}/8 hrs</h2>
          </span>
        </div>
        <div class="progress-card">
          <progress-bar [progress]="attendanceList.today_percentage" [color]="'#ff9b44'">
          </progress-bar>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="noti-list">
      <ion-item>
        <div>
          <h4 class="holiday-title">{{keywords.this_week}}</h4>
          <span class="holiday-days-div">
            <h2 class="holiday-title">{{attendanceList.week_production_hour}}/40 hrs</h2>
          </span>
        </div>
        <div class="progress-card">
          <progress-bar [progress]="attendanceList.week_percentage" [color]="'#ffc333'">
          </progress-bar>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="noti-list">
      <ion-item>
        <div>
          <h4 class="holiday-title">{{keywords.this_month}}</h4>
          <span class="holiday-days-div">
            <h2 class="holiday-title">{{attendanceList.month_production_hour}}/168hrs</h2>
          </span>
        </div>
        <div class="progress-card">
          <progress-bar [progress]="attendanceList.month_percentage" [color]="'#55ce63'">
          </progress-bar>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="noti-list">
      <ion-item>
        <div>
          <h4 class="holiday-title">{{keywords.remaining_hours}}</h4>
          <span class="holiday-days-div">
            <h2 class="holiday-title">{{attendanceList.remaining_hour}}/168 hrs</h2>
          </span>
        </div>
        <div class="progress-card">
          <progress-bar [progress]="attendanceList.month_percentage" [color]="'#f62d51'">
          </progress-bar>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="noti-list">
      <ion-item>
        <div>
          <h4 class="holiday-title">{{keywords.overtime}}</h4>
          <span class="holiday-days-div">
            <h2 class="holiday-title">{{attendanceList.month_overtime}}</h2>
          </span>
        </div>
        <div class="progress-card">
          <progress-bar [progress]="attendanceList.overtime_percentage" [color]="'#11A7DB'">
          </progress-bar>
        </div>
      </ion-item>
    </ion-list>
    <ion-scroll scrollX="true" style="width:100%;height: 950px; background-color: white">
      <ion-row nowrap>
        <ion-col style="width:300px; " col-2>#</ion-col>
        <ion-col col-4 style="width:300px; "  >
          <div>{{keywords.date}}</div>
        </ion-col>
        <ion-col col-4 style="width:300px; "  >
          <div>{{keywords.punch_in}}</div>
        </ion-col>
        <ion-col col-4 style="width:300px; "  >
          <div>{{keywords.punch_out}}</div>
        </ion-col>
        <ion-col col-4 style="width:300px; "  >
          <div>{{keywords.production}}</div>
        </ion-col>
        <ion-col col-4 style="width:300px; "  >
          <div>{{keywords.break}}</div>
        </ion-col>
        <ion-col col-4 style="width:300px; "  >
          <div>{{keywords.overtime}}</div>
        </ion-col>
      </ion-row>
      <ion-row nowrap *ngFor="let emp of attendanceList.month_attendance_Details;let x=index">
        <ion-col style="width:300px; " col-2>{{x+1}}</ion-col>
        <ion-col col-4 style="width:300px; "  >
          <div>{{emp.date}}</div>
        </ion-col>
        <ion-col *ngIf="emp.week_off === ''" col-4 style="width:300px; "  >
          <div>{{emp.punch_in}}</div>
        </ion-col>
        <ion-col *ngIf="emp.week_off === ''" col-4 style="width:300px; "  >
          <div>{{emp.punch_out}}</div>
        </ion-col>
        <ion-col *ngIf="emp.week_off === ''" col-4 style="width:300px; "  >
          <div>{{emp.production_hour}}</div>
        </ion-col>
        <ion-col *ngIf="emp.week_off === ''" col-4 style="width:300px; "  >
          <div>{{emp.break_hour}}</div>
        </ion-col>
        <ion-col *ngIf="emp.week_off === ''" col-4 style="width:300px; "  >
          <div>{{emp.overtime}}</div>
        </ion-col>
                <ion-col *ngIf="emp.week_off === 'Week Off'" col-12>
          <div  style="color:red; text-align:center;">{{emp.week_off}}</div>
        </ion-col>
      </ion-row>
    </ion-scroll>
  </div>
    <ion-fab class="employee-fab" (click)="openModal()">
      <button [ngStyle]="colorCode" class="employee-fabButton" ion-fab>
        <i class="fa fa-filter"></i>
      </button>
    </ion-fab>
</ion-content>