page-attendance-details {

  .progress-outer[_ngcontent-c0]{
    height: 5px !important;
  }
  .progress-inner[_ngcontent-c0]{
    height: 5px !important;
    min-width: 0% !important;
  }
  .item-md {
    padding-left :10px !important;
  }
  .progress-card{
    margin-top:10px;
  }

}

